.navBar{
    background-color: var(--primary-color);
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 74px;
    /* padding: 0px 32px; */
}